.container {
    border: 1px #ff9933 solid;
    margin: 0 auto;
    width: 900px;
}

header, main, footer, aside, section {
    border: 1px #4bcaff solid;
    padding: 5px;
    margin: 5px;

}

section {
    background-color: yellow;
}
 aside {
     background-color: darkolivegreen;
 }

 .left-aside {
     float: left;
     width: 40%;
     height: 100%;
 }