html {
    width: 1140px;
    margin: 0 auto;
}

body {
    width: 100%;
    margin: 0;
    background-color: #3a4965;
}

.container {
    font-family: "Invis Font", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

table {
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
    border-collapse: collapse;
    background-color: #ffffff;
}

table td{
    box-shadow: 2px 0 3px 0 rgba(129, 129, 129, 0.2);
}

i {
    margin-right: 10px;
    opacity: 0.6;
}

.price {
    height: 86px;
}

.price-options {
    font-size: 20px;
    height: 70px;
    font-weight: bold;
}

.plan {
    font-size: 18px;
    width: 27%;
}

.pricing {
    font-size: 26px;
}

.standard {
    width: 24%;
    color: white;
    background-color: #89c331;
}

.ultimate {
    font-size: 22px;
    color: white;
    background-color: #f04a56;
}

.premium {
    width: 24%;
    color: white;
    background-color: #20807c;
}

.value {
    position: relative;
}

.dollar {
    font-size: 54px;
    font-weight: bold;
}

.dollar:after {
     content: '.99';
    font-weight: bold;
     font-size: 20px;
     position: absolute;
     bottom: 46px;
     left: 137px;
 }

.per {
    font-size: 16px;
}

tbody td {
    font-size: 17px;
    height: 69px;
}

tbody tr:nth-child(1n) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(2n) {
    background-color: #e3e3e3;
}

tfoot td{
    height: 110px;
}

button {
    font-size: 17px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    height: 49px;
    width: 192px;
    border: none;
    border-radius: 5px;
    outline: 0;
}

.button1 {
    background: #484848 linear-gradient(to bottom, #484848 85%, #404040 15%);
}

.button2 {
    background: #89c331 linear-gradient(to bottom, #89c331 85%, #79b027 15%);
}

.button3 {
    background: #f04a56 linear-gradient(to bottom, #f04a56 85%, #df3a46 15%);
}

.button4 {
    background: #20807c linear-gradient(to bottom, #20807c 85%, #16736f 15%);;
}

button:hover {
    box-shadow: 5px 0 10px 0 rgba(1, 1, 1, 0.6);
    font-size: 20px;
}