body{
    text-align: center;
    font-family: Arial, serif;
    margin: auto;
    width: 1280px;

}
header {
    font-size: 18px;
    padding: 11px 12px;
    color: lightseagreen;
    background-color: ghostwhite;
}

main {
    background-color: ghostwhite;
}

a {
    margin-right: 50px;
}

h2 {
    padding-top: 30px;
    font-size: 22px;
    margin: 0;
}

p {
    padding: 11px 100px 20px;
    font-size: 16px;
    margin: 0;
}

button {
    padding: 14px 33px;
    background-color: lightseagreen;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 75px;
}

footer {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
    font-size: 16px;
    background-color: white;
}