body {
    font-size: 30px;
}
div {
    height: 200px;
    width: 300px;
    background-color: red;
    margin-bottom: 50px;
    cursor: pointer;
}

div:hover {
    background: blue;
    width: 300px;
    border: 2px solid brown;

}

div:active {
    background: green;
    height: 300px;
}

input:focus {
    background: red;
}

input:invalid {
    background: red;
    border: 2px solid pink;
}

p::first-line{
    color: red;

}

p::selection {

}