.toolbar {
    border: 1px #FF9933 solid;
    background-color: #bccd95;
    min-height: 50px;
}

.toolbar .menu-wrapper {
    box-shadow: 10px 5px 5px #23201D;
    float: right;
    width: 150px;

}

.toolbar .menu {
    display:none;
}

.toolbar .menu-wrapper:hover .menu {
    display: block;
}

.content {
    border: 1px #ff4561 solid;
    padding: 10px;
}

.position-static {
    position: static;
}

.position-relative {
    float: right;
    position: relative;
    background-color: #fff;
    border: 1px #23201D solid;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
}

.position-absolute {
    background-color: #ff4561;
    color: #fff;
    position: absolute;
}
