html {
    width: 1480px;
    margin: 0 auto;
}

body {
    width: 1280px;
    padding:0 100px;
    font-family: "Microsoft Sans Serif", serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.header a {
    color: white;
}

.logo {
    padding-top: 61px;
    padding-bottom: 45px;
    font-size: 66px;
    margin: 0;
    color: black;
}

.header {
    background-color: #35444f
}

.header-menu {
    height: 69px;
    font-size: 20px;
    color: #dbdbdb;
    padding: 0;
    margin: 0;
}

.header-menu li:hover {
    background-color: #222f3a
}

.header-menu li {
    padding: 24px 41px;
    display: inline-block;
}

.functional {
    margin-left: 175px;
}

.side {
    width: 27%;
    border: 1px black solid;
    margin-right: 43px;
    margin-top: 51px;
}

.side, .content {
    display: inline-block;
    vertical-align: top;
}

.side-menu {
     margin: 0;
     padding: 0;
 }

.side-menu li {
    font-size: 24px;
    padding: 28px 0 28px 69px;
    display: block;
}

.side-menu a {
    color: #495863
}

.side li:hover {
    background-color: #dbdbdb;
    padding-left: 5px;
}

.content {
    width: 69%;
    margin-top: 51px;
}

.image {
    height: 529px;
    text-align: center;
    padding-top: 75px;
    border: 1px black solid;
}

.text {
    text-align: justify;
    font-size: 18px;
    margin: 50px 35px;
}

.footer {
    height: 69px;
    background-color: #b4b7ba;
    font-size: 24px;
}

.footer-menu {
    margin: 0;
    padding-left: 44px;
}

.footer li {
    display: inline-block;
    padding: 20px 10px;
}

footer a {
    color: black
}

.footer a:hover {
    color: #3a85a7;
}

.footer-menu, .copyright {
    display: inline-block
}

.copyright p{
    margin: 0;
    padding-left: 218px;
}


