body {
    font-size: 26px
}

.header, .footer {
    background-color: blue;
    border: 20px midnightblue solid;
    height: 100px;

}

.main {
    background-color: yellow;
    border: 30px darkolivegreen solid;
    padding: 20px;
    width: 700px;
    margin: 15px;
}