*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1366px;
    height: 768px;
    margin:0 auto;
    background-color: black;
    background-image: url(../images/background.png);
}

.header {
    height: 93px;
    margin: 0;
    position: relative;
}


.logo {
    background: url(../images/logo.png) no-repeat;
    font-family: Verdana, serif;
    color: #ffffff;
    line-height: 23px;
    text-align: left;
    padding-left: 59px;
    margin-left: 155px;
    margin-top: 40px;
    float: left;
}


.logo:hover{
    background-image: url(../images/logohover.png);
    color: #f26522;

}

.logo1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.logo2 {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

.contacts {
    color: #ffffff;
    margin-right: 147px;
    margin-top: 50px;
    float: right;
}

.contacts p{
    font-family: "Microsoft Sans Serif", serif;
    font-size: 19px;
    line-height: 22px;
    text-align: right;
}

.contacts a {
    font-size: 18px;
}

.container{
    height: 586px;
    margin-left: 120px;
}

.container div {
    width: 308px;
    height: 200px;
    border: 2px #ffffff solid;
    margin: 45px 33px 47px;
    float: left;
    position: relative;
}
.capture {
    font-size: 20px;
    font-family: "Microsoft Sans Serif", bold, serif;
    padding-top: 14px;
}

.container img {
    width: 100%;
    height: 100%;
}

.wrapper a {
    text-decoration: none;
    text-align: center;
    color: white;
}

.wrapper a:visited {
    color: #ffffff
}

.propose {
    font-family: Verdana, Courier, serif;
    height: 63px;
    width: 308px;
    background-color: #f26522;
    display: none;
    position: absolute;
    bottom: 0;
}

.container div:hover .propose {
    display: block;
}

.container a:hover {
    color: #f26522;
}

.left {
    line-height: 16px;
    text-align: left;
    padding-left: 21px;
    margin-top: 12px;
    float: left;
}

.from {
    font-size: 9px;
    letter-spacing: 1px;
}

.euro {
    font-size: 20px;
}

.right {

    font-size: 15px;
    padding-right: 40px;
    margin-top: 33px;
    float: right;

}

.left,.right {
    display: inline-block;
    color: #ffffff;
}

.right:after {
    content: '\003E';
    color: white;
    display: block;
    position: absolute;
    top: -57px;
    right: 15px;
    margin-top: 90px;
}

.copyright {
    clear: left;
    position: relative;
}

.copyright p {
    font-family: Verdana, serif;
    color: #ffffff;
    font-size: 14px;
    margin-top: 53px;
    margin-left: 530px;
}

.copyright:before {
    content: '\00A9';
    position: absolute;
    color: #ffffff;
    left: 515px;
    bottom: 0;
}

