*{
    font-size: 22px;
}
.img {
    width: 600px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear {
    clear: both;
}
.img-wrapper {
    border: 1px #4bcaff solid;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}
footer {
    margin-top: 10px;
    background-color: aqua;
}