html, body{
    height: 100%;
    font-size: 22px;
    font-family: Verdana, serif;
}

.container {
    background-color: #ff9933;
    margin: 0 auto;
    width: 970px;
    height: 100%;

}

.container .main-header nav {
    text-align: center;

}

.container .main-header{
    height: 15%;
}

.container .content {
    margin-top: 0
}
