.container {
    border: 1px #3d4543 solid;
    padding: 5px;
}

.container fieldset {
    border: none;
}

.i-forms .form-group {
    padding: 5px;
    margin-bottom: 10px;
}


.i-forms .form-group input[type="text"],
.i-forms .form-group select,
.i-forms .form-group textarea  {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding:5px;
    border-radius: 3px;
    border: 1px #6f6f6f solid;
}
