body {
    font-size: 30px;
    background-color: #222222;
}

.common {
    width: 650px;
}


.div1 {
    background-color: #cccccc;
    height: 150px;
    margin: 10px 40px;
}

.div1:before {

}

.div2 {
    background-color: #4b88ad;
    height: 150px;
    margin: 10px 40px;
}

.div3 {
    background-color: #64b32e;
    height: 150px;
    margin: 10px 40px;
}

.div4 {
    background-color: #ebaa16;
    height: 150px;
    margin: 10px 40px;
}

.div5 {
    background-color: #de4a2c;
    height: 150px;
    margin: 10px 40px;
}