body {
    font-size: 22px;
    font-family: Verdana, serif;
    background-color: #222222;
    color: #dbdbdb;
}

.test-mouse {
    border: 1px #ff9933 solid;
    padding: 10px;
    margin: 0 auto;
    width: 200px;
}

.test-mouse h2:first-letter {
    color:red;
}


.test-mouse:hover {
    cursor: alias;
    background-color: #de4a2c;
    color: #ff9933;

}

.some-list>li:nth-child(2n) {
    background-color: #ff9933;
    color: navy;
}

