*{
    margin: 0 auto;
}

body {
    background: url('../images/background.png') no-repeat;
    background-size: 100%;
}


.container {
    font-family: Verdana, Courier, serif;
}


.container header {
    background-color: rgba(0, 0, 0, 0.48);
    height: 56px;
}

.logo {
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 14px;
    margin-left: 81px;
    margin-top: 22px;
    float: left;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
}

.logo a:hover {
    color: #3cb878;
}

.login-header {
    color: #ffffff;
    font-size: 13px;
    margin-right: 75px;
    margin-top: 24px;
    float: right;
}

.login-header a {
     color: #3cb878;
}

.icon {
    display: inline-block;
    margin-top: 18px;
    float: right;
}

.geo {
    background: url("../images/sprites.png") 206px -10px;
    width: 20px;
    height: 20px;
    margin-right: 50px;
}

.geo:hover {
    background: url("../images/hover_sprites.png") 206px -10px;
}

.chat {
    background: url("../images/sprites.png") 253px -10px;
    width: 28px;
    height: 20px;
    margin-right: 28px;
}

.chat:hover {
    background: url("../images/hover_sprites.png") 253px -10px;
}

.date {
    background: url("../images/sprites.png") -10px -50px;
    width: 19px;
    height: 19px;
    margin-right: 28px;
}

.date:hover {
    background: url("../images/hover_sprites.png") -10px -50px;
}


main {
    position: relative;
    margin-top: 5%;
}

.form-wrapper div {
    position: relative;
    align-items: center;
}


.form-wrapper {
    background-color: #ffffff;
    width: 444px;
    height: 586px;
    box-sizing: border-box;
    border-radius: 10px;

}

fieldset {
    border: 0 none;
    padding: 0;
}

.form {
    width: 322px;
    height: 523px;
    top: 29px;
    bottom: 32px;
    position: fixed;
}

.sign-up {
    font-size: 19px;
    text-align: left;
}

.sign-up:before {
    content: '';
    background-color: #3cb878;
    width:18px;
    height: 18px;
    left: -61px;
    bottom: 0;
    position: absolute;
}

.log-in {
    float: right;
}

.log-in a {
    color: #3cb878;
    font-size: 13px;
}

.sign-up, .log-in {
    display: inline-block;
}

.top-button {
    margin-top: 15px;

}

.top-button button {
    font-size: 16px;
    box-sizing: border-box;
    outline: 0;
    outline-offset: 0;
    border-radius: 3px;
    width: 157px;
    height: 46px;
    padding: 0;
}

.facebook p {
    padding-right: 17px;
}

.google p{
    padding-right: 30px;
}

.facebook {
    color: #ffffff;
    background: #305db8 url(../images/facebook.png) no-repeat 20px;;
    margin-right: 2px;
    position: relative;
    text-align: right;
}

.google {
    color: #ffffff;
    background: #c3412c url(../images/google.png) no-repeat 13px;
    position: relative;
    text-align: right;
}

.facebook:before,
.google:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    background-color: #222222;
    opacity: 0.3;
    vertical-align: baseline;
    left: 47px;
    bottom: 10px;
}

.or {
    font-size: 14px;
    text-align: center;
    margin: 33px 0 18px;
    color: #222222;
    opacity: 0.4;
}

.or:before,
.or:after {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    width:42%;
    height: 1px;
    background: #222222;
    opacity: 0.3;
    vertical-align: middle;
}

.or:before {
    margin-right: 18px;
}

.or:after {
    margin-left: 18px;
}

.form-group {
    margin-top: 9px;
    box-sizing: border-box;
}

.form-group input {
    font-size: 14px;
    border: 1px solid rgba(129, 129, 129, 0.1);
    border-radius: 3px;
    outline: 0;
    box-sizing: border-box;
    padding-left: 17px;
    width: 322px;
    height: 46px;
}

input:focus {
    border: none;
    box-shadow: 3px 3px 3px 5px rgba(129, 129, 129, 0.2);
    box-sizing: border-box;
    margin-bottom: 14px;
}

.agree-box div{
    position: relative;
}

.checkbox {
    border: 1px solid rgba(129, 129, 129, 0.1);
    width: 20px;
    top: 25px;
    position: absolute;
}

.checkbox:focus {
    outline: none;
    box-shadow: none;
}

.agree-box label {
    opacity: 0.8;
    position: absolute;
    font-size: 14px;
    left: 30px;
    top: 22px;
}

.agree-box label a {
    color: #3cb878
}

.submit-button div {
    position: relative;
}

.submit-button button {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 16px;
    color: #ffffff;
    background-color: #329a65;
    border: 1px solid rgba(129, 129, 129, 0.1);
    border-radius: 3px;
    outline: 0;
    box-sizing: border-box;
    padding: 0;
    top: 64px;
    height: 46px;
    width: 322px;
    position: absolute;
}
